In [23]:
import numpy as np
import pandas as pd
s = ['She is going to market',
     ' She is going to my house and then going to my friend house' ,
     'Market is near my house',
     'He is going to his house and then market']
def count_vectorizer(s):
  li=[]
  li1=[]
  li3=[]
  for i in s:
    li2=i.split()
    li1.append(li2)
    for j in li2:
      j=j.lower()
      li.append(j)
  a=np.unique(np.array(li),return_counts=False).tolist()
  for j in li1:
    li=[]
    for i in a:
      l=0
      for k in j:
        if k.lower()==i:
          l=l+1
      li.append(l)
    li3.append(li)
  df = pd.DataFrame(li3,columns=a)
  return df

In [24]:
count_vectorizer(s)

   and  friend  going  he  his  house  is  market  my  near  she  then  to
0    0       0      1   0    0      0   1       1   0     0    1     0   1
1    1       1      2   0    0      2   1       0   2     0    1     1   2
2    0       0      0   0    0      1   1       1   1     1    0     0   0
3    1       0      1   1    1      1   1       1   0     0    0     1   1